<h3>Заказ добавлен в корзину!</h3>
<form method="post" asp-controller="Fish" asp-action="List">
    <input type="submit" value="Назад к ассортименту" />
</form>
<form method="post" asp-controller="PersonalCabinet" asp-action="MyOrders">
    <input type="submit" value="Корзина" />
</form>